.card-professor {
    background-color: aliceblue;
    width: 300px;
    margin: 10px;
  }
  
  .card-professor {
    background-color: cornflowerblue;
    width: 300px;
    margin: 10px;
  }